<article class=" flex flex-col-reverse md:flex-row  gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 text-pretty ">
    <p>
      Recuerdo que quería dominar <span class="text-purple-300">Figama</span> y hacer
      esto con el mouse, pero el teclado y el feeling de programar me motivo muchisimo
      mas.
    </p>
    <p>
    <span class="text-yellow-200">
       Mi primer programa fue en 2021</span
      > en un curso de <span class=" text-yellow-200">JavaScript </span> que no entendia mucho y hoy soy capaz de crear
      una pagina web estatica, me siento contento con mis progresos al mismo tiempo que entiendo todo lo que hay en mis lineas de codigo que considero que eso es lo mas importante. <span class=" text-orange-300">Me mantengo abierto a nuevos metodos y tecnologias por eso me mantengo en constante estudio</span> , programar se ha vuelto mas que un hobbie, es a lo que me quiero dedicar, me encanta la tecnologia y lo que mas quiero es involucrarme tanto con ella como sea posible para poder crear o aportar herramientas interesantes para las personas.

    </p>

    <p>
      Mi primera idea real y que empece a ejecutar como proyecto es mejorar la
      pagina web de mi trabajo actual, es una restaurante y quiero ofrecer una
      experiencia web en las paginas de restaurantes empezando por la de mi
      empresa, mi objetivo es que sea mas atractivo e interesante entrar a la
      pagina de <span class=" text-red-300">la Matera</span> que al mismo instagram.
    </p>
  </div>
  <img src="/me.png" alt=" mi foto" class=" rounded-full size-64 solid border-2 border-white/80">
</article>
