---
import ExperienceItemextraction from "./ExperienceItem.astro"


const EXPERIENCE = [
  {
    date: "February 2024",
    title: "La Matera - Rediseño pagina web  ",
    description:"Mejorando la experiencia de usuario y la interfaz en la página web de un restaurante en México, Gdl 'La Matera'. Actualmente, este proyecto es propio, sin ningún interés comercial. Trabajo en ello simplemente para ofrecerlo y mejorar mis habilidades en el diseño.",
    link: "https://github.com/AlanSan1195/matera-prototipe"
  },

]

---
<!-- descripcion de esta seccion: lo que hicimos en esta seccion fue crear una array para extraer los datos mas importantes que tienen mi <li></li> y asi poder crear un loop para que se repita la misma estructura de codigo y asi no tener que repetir el mismo codigo una y otra vez, y asi poder hacerlo mas dinamico y facil de leer y de entender. -->


<ol class="relative border-s border-gray-200 dark:border-gray-700 mt-8 p-4 ml-3">

<!-- por cada experiencia que detectes crea o retorna un <li></li> con su clase, y dentro de ese agregame mis <ExperienceItemextraction/> con toda su experience asi 
  {...experience} si te paso 5 datos de experiencias redenderiza 5 espacios de experiencas --> 

  {
    EXPERIENCE.map( experience => ( <li class="mb-10 ms-4" > <ExperienceItemextraction { ...experience} />
      </li>))
  }



